body {
  margin: 0
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6aa3f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.422);
}

header > h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 3px;
  color: white;
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

section {
  width: 100%;
  max-width: 500px;
  margin: 60px auto;
  background-color: #f2f2f2;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.267);
  font-family: "Winky Sans", sans-serif;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-style: italic;
  outline: none;
  font-family: "Winky Sans", sans-serif;
}

.input-group input:focus {
  border-color: #4a90e2;
}

.input-group button {
  font-family: "Winky Sans", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.input-group button:hover {
  background-color: #3b7bd4;
}

ul {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px 15px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
 /*
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.4s ease forwards;
  */
}

/*
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  */

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkbox-label img {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  cursor: pointer;
}

.task-item span {
  user-select: none;
  font-size: 18px;
  word-break: break-word;
  max-width: 350px;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.delete-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50%;
  padding: 0;
  color: #ff5f5f;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.delete-btn:hover {
  transform: scale(1.15);
  background-color: #ffadad;
}
