body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 45, 45);
  color: white;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-container {
    font-family: "Boldonse", system-ui;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 450px;
}

.status-bar {
  margin-top: 15px;
  background-color: rgb(35, 168, 35);
  text-align: center;
  border-radius: 5px;
  width: 480px;
}

.status-bar > h2 {
  font-size: 28px;
  margin: 10px;
}

.status-bar > p {
  font-size: 20px;
  margin: 10px;
}

.chips button {
  padding: 15px;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 380px;
  margin-top: 25px;
}

.chip-element{
  padding: 8px;
  border-radius: 5px;
}

.word {
  margin-top: 20px;
  font-size: 30px;
}

.word > span {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  padding: 5px;
  background-color: rgba(67, 67, 67, 0.711);
  margin: 5px;
  border-radius: 5px;
}