#intro {
  height: 100vh;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.person-img {
  position: absolute;
  top: 0;
  right: 5rem;
  z-index: -1;
  object-fit:cover;
  height: 100vh;
  overflow: hidden;
  opacity: 0.8;
}

.intro-content {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.intro-name {
  color: yellow;
}

.intro-content > p {
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.hire-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black !important;
  /*
  text-decoration: none !important;
  -webkit-appearance: none;
  */
  width: 143px;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.15s ease;
}

.hire-button:hover {
  background-color: yellow;
  box-shadow: 0 0 15px rgba(255, 255, 0, 0.619);
}

.hire-button img {
  object-fit: cover;
  margin-right: 10px;
  height: 1rem;
}

.link-hire-me {
  pointer-events: none;
}

@media screen and (max-width: 1114px) {
  .intro-content > p{
    width: 55vw;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .person-img {
    right: 5vw;
  }
}


@media screen and (max-width: 810px) {
  .person-img {
    right: -2vw;
  }
}

@media screen and (max-width: 670px) {
  .person-img {
    right: -10vw;
  }
}

@media screen and (max-width: 480px) {
  .person-img {
    top: 3rem;
    right: -15vw;
    height: 90vh;
  }
  .intro-content > p {
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 440px) {
  .person-img {
    right: -20vw;
    height: 85vh;
  }
}

@media screen and (max-width: 400px) {
  .intro-content > p {
    width: 90vw;
  }
}

@media (max-height: 300px) {
  .intro-content{
    font-size: 2.5rem;
  }

  .intro-content > p{
    font-size: 0.7rem;
  }

  .person-img {
    right: 10vw;
  }

  .hire-button {
    font-size: 0.7rem;
    width: 120px;
    padding: 0.5rem;
  }

  .hire-button img {
  object-fit: cover;
  margin-right: 10px;
  height: 0.8rem;
}
}