body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  width: 550px;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  border: solid rgba(195, 195, 195, 0.671) 4px;
}

.app-header {
  font-family: Boldonse,sans-serif;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(200, 236, 220);
  
  border-bottom: solid rgba(195, 195, 195, 0.671) 3px;
}

.app-header img {
  width: 80px;
}

.mainContent {
  padding: 45px 30px;
  background-color: rgb(187, 186, 186);
}

.inputAndButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputAndButton input {
  margin-right: 10px;
  width: 300px;
  padding: 6px;
  border: solid rgba(128, 128, 128, 0.704) 1px;
  border-radius: 5px;
  flex-grow: 1;
}

.inputAndButton input:focus {
  outline: none;
}

.inputAndButton button {
  flex-shrink: 0;
  color: white;
  background-color: black;
  padding: 6px 25px;
  border-radius: 5px;
  border: solid 1px black;
  cursor: pointer;
}

.ingredients-container {
  padding-top: 10px;
}

.ingredients-container h1 {
  margin-left: 10px;
}