body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  width: 550px;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  border: solid rgba(195, 195, 195, 0.671) 4px;
}

.app-header {
  font-family: Boldonse,sans-serif;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 171, 79);
  border-bottom: solid rgba(195, 195, 195, 0.671) 3px;
}

.app-header img {
  width: 80px;
}

.mainContent {
  font-family: Inter;
  padding: 45px 30px;
  background-color: rgb(236, 236, 236);
}

.inputAndButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputAndButton input {
  margin-right: 10px;
  width: 300px;
  padding: 6px;
  border: solid rgba(128, 128, 128, 0.704) 1px;
  border-radius: 5px;
  flex-grow: 1;
}

.inputAndButton input:focus {
  outline: none;
}

.inputAndButton button {
  flex-shrink: 0;
  color: white;
  background-color: black;
  padding: 6px 25px;
  border-radius: 5px;
  border: solid 1px black;
  cursor: pointer;
  transition: 0.15s all;
}

.inputAndButton button:hover {
  background-color: white;
  color: black;
}

.inputAndButton button:active {
  opacity: 0.5;
}

.ingredients-container {
  padding-top: 10px;
}

.ingredients-container ul {
  line-height: 25px; 
  margin-left: 10px;
  color: rgb(84, 84, 84);
  font-size: 16px;
}

.ingredients-container h1 {
  margin-left: 10px;
}

.get-recipe-container {
  margin-top: 60px;
  background-color: rgb(220, 220, 220);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border:  none;
  border-radius: 5px;
}

.get-recipe-container > button {
  width: 98px;
  height: 40px;
  margin-left: 8px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(214, 171, 79);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.get-recipe-container > button:hover {
  background-color: rgb(179, 138, 50);
}

.get-recipe-container > button:active {
  opacity: 0.7;
}


.get-recipe-container > div {
  max-width: 300px;
  margin-left: 20px;
}

.get-recipe-container p {
  color: rgb(106, 106, 106);
  font-size: 16px;
}

.get-recipe-container h3 {
  font-size: 18px;
}

.recipe-section{
  padding-top: 20px;
  color: rgb(60, 57, 57);
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.recipe-section ul li, .recipe-section ol li {
  margin-bottom: 8px;
}
